# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/key.properties
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
ios/Podfile.lock

# Firebase
google-services.json
GoogleService-Info.plist
firebase_options.dart

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Windows
*.log